* {
    font-family: 'Playfair Display', serif;
    font-weight: 5;
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: coral;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}