* {
    font-family: 'Playfair Display', serif;
    font-weight: 5;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav a{
    font-weight: 20px;
    padding-right: 10px;
}

nav a:hover {
    color: white;
}

header {
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    background-color: coral;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

@media screen and (max-width:500px){
    header{
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}